.obitems{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    justify-content: space-between;
    margin: 200px auto;
    gap:30px;

    
}
.containershop{
    min-height: 80vh;


}
.item{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px  rgb(234, 229, 227);

}
.itemimg{
    width: 60%;
    height: 300px;

}
.itemimg img{
    width: 100%;
    height: 100%;
}